[build]
  command = "cd frontend && npm install && npm run build"
  publish = "frontend/dist"
  functions = "backend"

[build.environment]
  NODE_ENV = "development"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
