[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "frontend/dist"
  functions = "backend"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
